<section id="stories" >
    <div class="stories-content">
   <h3>Success Stories</h3>
   <p>Ez-Franchise Client Testimonials</p>
    </div>
    <div class="emp-stories row d-flex">
      <div class="story single-story1">
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Integer enim.</p>
        <img src="./assets/imgs/Mask Group 21.png" alt="">
        <h3>Lorem Ipsum</h3>
        <h6>Lorem ipsum dolor sit</h6>
      </div>
      <div class="story single-story2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Integer enim.</p>
        <img src="./assets/imgs/Mask Group 20.png" alt="">
        <h3>Lorem Ipsum</h3>
        <h6>Lorem ipsum dolor sit</h6>
      </div>
      <div class="story single-story3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Integer enim.</p>
        <img src="./assets/imgs/Mask Group 16.png" alt="">
        <h3>Lorem Ipsum</h3>
        <h6>Lorem ipsum dolor sit</h6>
      </div>
      <div class="story single-story4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Integer enim.</p>
        <img src="./assets/imgs/Group 16.png" alt="">
        <h3>Lorem Ipsum</h3>
        <h6>Lorem ipsum dolor sit</h6>
      </div>
      <div class="story single-story5">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Integer enim.</p>
        <img src="./assets/imgs/Mask Group 19.png" alt="">
        <h3>Lorem Ipsum</h3>
        <h6>Lorem ipsum dolor sit</h6>
      </div>
 
    </div>
  </section>