
<section class="info" id="information">
    <div class="container ">
      <div class="row">
        <div class="col-lg-6 mb-text">
          <div class="info_header">
            <h2 class="mb-text">Lorem Ipsum Dolor Sit Amet <span>LOREM IPSUM</span></h2>
          </div>
          <div class="info_content pt-3 ">
            <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
              volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
              suscipit, posuere a, pede.</p>
            <p class="mt-3 text-white">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
              Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra.
            </p>
          </div>
          <div class="mt-5">
            <a routerLink="#about" class="btn-get-started ">Schedule a call today!</a>
          </div>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </section>