<section id="card-bg" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="text-center franchise">
          <h1>Lorem ipsum dolor sit amet <br> elit. Donec odio. Quisque volutpat mattis</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="container">
          <div class="row franchise-carousel">
            <div class="col-md-12 text-center">
              <div class="carousel-focus">
                <div class="carousel-focus-inner">
                  <div class="carousel-focus-items">
                    <div class="carousel-focus-item">
                      <img src="../../../assets/imgs/Group 379.png" />
                      <h4 class="mt-3">Amazon Mall</h4>
                    </div>
                    <div class="carousel-focus-item active">
                      <img src="../../../assets/imgs/Group 741.png" />
                      <h4 class="mt-3">Centaurus Mall</h4>
                    </div>
                    <div class="carousel-focus-item">
                      <img src="../../../assets/imgs/Group 380.png" />
                      <h4 class="mt-3">Giga Mall</h4>
                    </div>
                  </div>
                  <div class="carousel-focus-controls">
                    <button class="btn btn-primary carousel-focus-control prev">
                      <span class="fa fa-arrow-left"></span>
                    </button>
                    <button class="btn btn-primary carousel-focus-control next">
                        <span class="fa fa-arrow-right"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
        </div>
      </div>
    </div>
  </section>