<footer id="footer">
    <div class="container">
      <div class="row addreses">
        <div class="col-md-4"></div>
        <div class="col-md-5">
          <div class="d-flex justify-content-end">
            <h5>Get in touch</h5>
          </div>
          <div class="mail-sec">
            <div class="mx-4">
              <p>loremipsumpk@gmail.com</p>
            </div>
            <div><img src="./assets/imgs/email.svg" alt=""></div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="mx-4">
              <p>Floor 3, One Expressway, Gulberg Greens, Islamabad</p>
            </div>
            <div><img src="./assets/imgs/maps-and-flags.svg" alt=""></div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="d-flex justify-content-end">
            <h5>Follow us</h5>
          </div>
          <div class="d-flex justify-content-end social-media">
            <img src="./assets/imgs/facebook.svg" alt="">
            <img src="./assets/imgs/instagram (1).png" alt="">
            <img src="./assets/imgs/twitter.svg" alt="">
            <img src="./assets/imgs/youtube.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8 col-sm-4 d-flex">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a routerLink="#intro" class="scrollto">Contact</a>
            <a routerLink="#about" class="scrollto">Disclaimer</a>
          </nav>
          <div class="site-rights ">
            <a routerLink="#">Privacy Policy</a>
            <p>@2020 Lorem Ipsum, Pvt. Ltd. All rights reserved</p>
          </div>
        </div>
      </div>

    </div>
  </footer>
