<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 d-flex flex-column justify-content-center hero-info">
          <div class="hero_content">
            <h1>Lorem ipsum dolor sit<br> amet consectetur</h1>
            <span ><input type="checkbox" id="hidden-input" name="hidden-input">
              <label for="hidden-input"></label> 
              <p for="hidden-input"></p>
            </span>
            <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed do eiusmod.</p>
          </div>
          <div class="hero_btn pb-3">
            <a routerLink="#" class="btn-get-started ">See the best franchises <span class="polygon-icon"><img
                  src="./assets/imgs/Polygon6.svg" alt=""></span></a>
          </div>
        </div>

        <div class="col-lg-6  hero-right-img">
          <img class="desk-img" src="assets/imgs/v.png" class="img-fluid " alt="">
          <img class="mobile-img" src="./assets/imgs/back.png" alt="Picture of 1" />
        </div>
      </div>
    </div>

  </section>