<section id="" class="about">
    <div class="container">
      <div class="row content">
        <div class="col-lg-6 col-md-6 col-sm-12 ">
          <h2 class="mb-text">Lorem</h2>
          <h1 class="mb-text">Ipsum Dolor</h1>
          <p class="mt-5">
            {{loremtext}}
          </p>
          <p>
            {{loremtext}}
          </p>

          <a routerLink="#" class="btn-learn-more mt-5">Read More...</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="about_section_img">
            <div class="about_img_1 ">
              <img src="./assets/imgs/Group 2116.png" class="img-fluid mt-5" alt="">
            </div>
            <div class="about_img_2">
              <img src="./assets/imgs/Group 2394.png" class=" img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>