<section class="consectetuer mt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="consectetuer_header">
            <div class="consectetuer">
              <img src="./assets/imgs/Mask Group 874.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-7 mb-faq">
          <div class="consectetuer_content">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            <h2>Lorem Ipsum <br> Dolor Sit Amet Consectetuer!</h2>
          </div>
          <div class="mt-5 ">
            <a routerLink="#about" class="btn-get-started ">Schedule a call today!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
