<section id="guarantee" class="guarantee">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="g_heading text-center">
            <h1>Lorem Ipsum Dolor Sit Amet</h1>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="g_img text-center my-3">
                <img src="./assets/imgs/OBJECTS.svg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <div class="g_content">
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                  Nullam malesuada erat ut turpis Suspendisse urna nibh.
                </p>
                <p class="mt-5"> Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet
                  orci. Aenean dignissim pellentesque felis. </p>
                <p class="mt-5 text-bold">Morbi in sem quis dui placerat ornare pellentesque</p>
              </div>

              <div class="mt-5 text-center">
                <a routerLink="#about" class="btn-get-started ">Schedule a call today!</a>
              </div>
            </div>
            <div class="col-lg-2"></div>
          </div>

        </div>
      </div>
    </div>
  </section>
