

  <section id="task" class="task">
    <div class="container">
      <div class="row">
        <h2 class="text-center ">Lorem Ipsum Dolor</h2>
        <!-- ------ -->
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center checks">
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p class="text-black"> Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p class="text-black"> Aliquam tincidunt mauris eu risus.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p class="text-black"> Morbi in sem quis dui placerat ornare.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p class="text-black"> Nunc dignissim risus id metus.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p class="text-black"> Integer vitae libero ac risus.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p class="text-black"> Vivamus vestibulum ntulla nec ante.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p class="text-black"> Praesent placerat risus quis eros.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p class="text-black"> Praesent placerat risus quis eros.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
        <!-- ------ -->
      </div>
    </div>
  </section>