<!-- <section id="services" class="services">
    <div class="container mb-work-sec">
      <div class="text-center">
        <h3>Lorem ipsum dolor sit amet</h3>
      </div>
      <div class="row">
        <div class=" col-xs-6 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="service_img_1">
              <img src="./assets/imgs/Group 594.svg" alt="">
            </div>
            <h4 class="title text-center pt-4 ">Lorem Ipsum Dolor</h4>
            <p class="description text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>
        </div>
        <div class=" col-xs-6 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="service_img_1">
              <img src="./assets/imgs/Group 1358.svg" alt="">
            </div>
            <h4 class="title text-center pt-4 ">Lorem Ipsum Dolor</h4>
            <p class="description text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>
        </div>

      </div>
      <div class="row">
        <div class=" col-sm-6 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="service_img_1">
              <img src="./assets/imgs/Group 274.svg" alt="">
            </div>
            <h4 class="title text-center pt-4 ">Lorem Ipsum Dolor</h4>
            <p class="description text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>
        </div>
        <div class=" col-sm-6 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="service_img_1">
              <img src="./assets/imgs/Group 672.svg" alt="">
            </div>
            <h4 class="title text-center pt-4 ">Lorem Ipsum Dolor</h4>
            <p class="description text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>
        </div>

      </div>

    </div>
  </section> -->

  <section id="task" class="task">
    <div class="container">
      <div class="row">
        <h2 class="text-center ">Lorem Ipsum Dolor</h2>
        <!-- ------ -->
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center checks">
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p> Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p> Aliquam tincidunt mauris eu risus.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p> Morbi in sem quis dui placerat ornare.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p> Nunc dignissim risus id metus.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p> Integer vitae libero ac risus.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p> Vivamus vestibulum ntulla nec ante.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p> Praesent placerat risus quis eros.</p>
            </div>
          </div>
          <div class="right_content d-flex">
            <div class="tick-img">
              <img src="./assets/imgs/check.svg" class="img-fluid" alt="">
            </div>
            <div class="ipsum_content">
              <p> Praesent placerat risus quis eros.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
        <!-- ------ -->
      </div>
    </div>
  </section>